table{
    width: 800px;
    border: 0.5px solid rgb(227, 229, 232);
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 3px 1px rgba(46, 47, 66, 0.08), 0px 4px 12px rgba(46, 47, 66, 0.16), 0px 4px 12px rgba(46, 47, 66, 0.08);
    margin-bottom: 80px;
}
thead{
     background-color: #93eee7;
 }  


 tr{
    border: 0.5px solid rgb(136, 137, 140);
   
    /* display: flex;
    flex-wrap: nowrap;
    gap: 100px;  */
    
}
th{
        /* padding-left:  49px; */
    /* border: 0.5px solid rgb(227, 229, 232); */
}

td.type{
   
    text-align:center;
      /* padding-left: 123px;   */
    /* border: 0.5px solid rgb(227, 229, 232); */
}

td.amount{
text-align: center;
}

td.currency{
    text-align:center;
}
tbody{
    /* display: flex;
    flex-direction: column; */
} 

 .history{
/* width: 1000px; */
     border: 0.5px solid rgb(227, 229, 232); }





/* 
  <section className= {
      css.statistics
  }

  > {
      title && <h2 className= {
          css.title
      }

      > {
          title
      }

      </h2>
  }

  <ul className= {
      css.list
  }

  > {
      stats.map((item)=> (<li className= {
                  css.item
              }

              key= {
                  item.id
              }

              > <span classame= {
                  css.label
              }

              > {
                  item.label
              }

              </span> <span className= {
                  css.percentage
              }

              > {
                  item.percentage
              }

              %</span> </li>))
  } */